/* =Header
===================================================== */

// Header
//
// Header of the site (includes site branding and navigation)
//
// Markup: header.html
//
// Style guide: 6.header

.site-header {

  position: relative;

  min-height: 90vh;

  animation-name: daylight;
  animation-delay: 1s;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	overflow: hidden;
  animation-timing-function: linear;

  > * {

    position: relative;
    z-index: $z-index-header;

  }

}