/*
 * Widgets
 */

.widget {

  @include container-padding(1.5);
  position: relative;
  max-width: $container-max-width;

}

.widget-title {

  font-size: ms(1);
  line-height: ms(1);

}

/*
 * Header Widgets
 *
 */

#header-widgets {

  position: absolute;
  top: 0;

  .widget {
    max-width: 100vw;
    padding: 0;
  }

}

/*
 * Secondary Widgets
 *
 * Full width widgets after the content
 */

#after-header-widgets .widget,
#before-content-widgets .widget,
#secondary .widget {

  // padding-left: 0;
  // padding-right: 0;
  text-align: center;

  > * {

    position: relative;

  }

  &:before {

    position: absolute;
    // z-index: -1;
    top: 0;
    bottom: 0;
    left: -1000px;
    right: -1000px;

    background-color: $color-brand-quaternary;

    content: "";

  }

}

/*
 * Footer Widgets
 *
 */

#footer-widgets {
  background: url('https://2019.iloilo.wordcamp.org/files/2019/01/footer-bg.png') no-repeat 0 0;
  background-size: cover;

  &:after {

    position: absolute;
    // z-index: -1;
    top: 0;
    bottom: 0;
    left: -1000px;
    right: -1000px;

    background:url('https://2019.iloilo.wordcamp.org/files/2019/01/siopuu.png')no-repeat top right;

    content: "";
  }

  .widget {
    max-width: 100vw;
    padding: 0;
  }

}

/*
 * Widget text
 *
 * Default text widget styles
 */

.widget_text {


}