/* =Post
===================================================== */

// Post
//
// Post entry
//
// Markup: post.html
//
// Style guide: 6.post

.post {

  @include clearfix();

  margin-bottom: $unit-default;
  padding-bottom: $unit-default;
  border-bottom: 6px double $color-border-weak;

}

.entry-header {}

.entry-content {

  @include clearfix();

}

.entry-title {

  font-size: ms(4);
  line-height: ms(1);

  margin-bottom: $unit-default;
  position: relative;
  background: white;
  text-transform: uppercase;

  &:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background-image: -webkit-linear-gradient(320deg,$color-brand-primary 28%,$color-brand-secondary 100%);
    background-image: -moz-linear-gradient(320deg,$color-brand-primary 28%,$color-brand-secondary 100%);
    background-image: -ms-linear-gradient(320deg,$color-brand-primary 28%,$color-brand-secondary 100%);
    background-image: -o-linear-gradient(320deg,$color-brand-primary 28%,$color-brand-secondary 100%);
    background-image: linear-gradient(130deg,$color-brand-primary 28%,$color-brand-secondary 100%);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    -webkit-mix-blend-mode: color;
    -moz-mix-blend-mode: color;
    -ms-mix-blend-mode: color;
    -o-mix-blend-mode: color;
    mix-blend-mode: color;
  }
  
  a {

    &:hover,
    &:focus,
    &:active {

      text-decoration: none;

    }

  }

}

.entry-meta {

  margin-bottom: $unit-s;

  a {

    color: $color-link-alt;

    &:hover,
    &:focus,
    &:active {

      color: $color-link-alt-hover;

    }

  }

  .updated {

    display: none;

  }

  .published {

    display: inline;

  }

}

.entry-footer {

  margin-bottom: $unit-default;

  @include font-size(16);
  line-height: em(24,16);
  color: $color-text-weak;

  > :after {

    content: " | ";

  }

  > :last-child {

    &:after {

      content: "";

    }

  }

  a {

    color: $color-link-alt;

    &:hover,
    &:focus,
    &:active {

      color: $color-link-alt-hover;

    }

  }

}