/* =Post
===================================================== */

// Post
//
// Post entry
//
// Markup: post.html
//
// Style guide: 6.post

.post {

  @include clearfix();

  margin-bottom: $unit-default;
  padding-bottom: $unit-default;
  border-bottom: 6px double $color-border-weak;

}

.entry-header {
	background: url(https://2019.iloilo.wordcamp.org/files/2019/01/Two-Towers-of-Molo.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
  background-clip: text;
  text-align: center;
}

.entry-content {
  @include clearfix();

  margin-bottom: $unit-l;
  margin-top: $unit-l;

}

.entry-title {

  font-size: ms(5);
  line-height: ms(1);
  color: transparent;

	-webkit-transition: text-shadow 1s ease;
  text-shadow: 0 0 1px rgba(0,0,0,.1);
  text-transform: uppercase;
  margin: $unit-m 0;
	padding: 0;

  a {
    color: transparent;

    &:hover,
    &:focus,
    &:active {

      text-decoration: none;

    }

  }

}

.entry-meta {
  @include font-size(16);

  margin-bottom: $unit-s;
  color: $color-brand-tertiary;
  text-transform: uppercase;

  a {

    color: $color-link-alt;

    &:hover,
    &:focus,
    &:active {

      color: $color-link-alt-hover;

    }

  }

  .updated {

    display: none;

  }

  .published {

    display: inline;

  }

}

.entry-footer {

  margin-bottom: $unit-default;

  @include font-size(16);
  line-height: em(24,16);
  color: $color-text-weak;

  > :after {

    content: " | ";

  }

  > :last-child {

    &:after {

      content: "";

    }

  }

  a {

    color: $color-link-alt;

    &:hover,
    &:focus,
    &:active {

      color: $color-link-alt-hover;

    }

  }

}