/* =Footer
===================================================== */

// Footer
//
// Footer of the site (includes site info and widgets)
//
// Markup: footer.html
//
// Style guide: 6.footer

/*
 * Footer
 *
 * Footer container
 * <footer id="colophon" class="site-footer" role="contentinfo"> ... </footer>
 */

#colophon {

  background: url('https://2019.iloilo.wordcamp.org/files/2019/01/footer-bg.png') no-repeat 0 0;
  background-size: cover;

  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: $unit-xl;
  position: relative;

  text-align: center;

  &:before {

    position: absolute;
    right: 5%;
    top: 0;
    background:url('https://2019.iloilo.wordcamp.org/files/2019/01/siopuu.png')no-repeat;
    background-size: contain;

    height: 661px;
    width: 700px;

    content: "";
  }

}

.site-info-generator {

  @include visually-hidden();

}

.site-info {
  background: url(https://2019.iloilo.wordcamp.org/files/2019/01/daynight.jpg) 0 -5px repeat-x;
  height: 240px;
  width: 240px;
  margin: 50px auto 0;
  position: relative;
  overflow: hidden;
  border-radius: 123px;
  border: 5px solid white;
  box-shadow: 0 5px 20px rgba(black, 0.5);
  animation: daynight 4s linear infinite;  
}

.site-info-network {

  // @include hide-text();

  display: block;

  text-indent: -9999px;

  &:after {

    content: "";
    animation: wapuu 3s steps(6) infinite;
    background: url(https://2019.iloilo.wordcamp.org/files/2019/01/eating-wapuu.png) 0 0 no-repeat; 
    height: 160px;
    width: 112px;
    position: absolute;
    bottom: 40px;
    left: 66px;
    margin: 0 auto;

  }

  &:hover,
  &:focus,
  &:active {

    &:after {

      background-color: rgba($color-link-hover, 0.25);
      border-radius: 25%;
    }

  }

}

@keyframes wapuu {  
  0%   { background-position: 0 0; } 
  100% { background-position: -672px 0; }
}
@keyframes daynight {  
  0%   { background-position: 0 -5px; } 
  100% { background-position: -1053px -5px; }
}