/*
 * Sponsors page
 *
 * Experimenting with global style overrides
 */

.page-slug-sponsors {

  #content {

    max-width: rem(1200);
    margin-left: auto;
    margin-right: auto;

  }

  .entry-header {
    background: url(https://2019.iloilo.wordcamp.org/files/2019/01/Two-Towers-of-Molo.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
  }
  
  .entry-title {
  
    font-size: ms(5);
    line-height: ms(1);
    color: #fff;
  
    margin-bottom: $unit-default;
    text-transform: uppercase;
  
    -webkit-transition: text-shadow 1s ease;
    text-shadow: 0 0 1px rgba(0,0,0,.1);
    margin: 0;
    padding: 0;
  
    
    a {
      color: transparent;
  
      &:hover,
      &:focus,
      &:active {
  
        text-decoration: none;
  
      }
  
    }
  
  }

}