/*
 * Attendees page
 *
 * Experimenting with global style overrides
 */

.page-slug-attendees {

  #content {

    max-width: rem(1400);
    margin-left: auto;
    margin-right: auto;

  }

  .entry-header {
    background: url(https://2019.iloilo.wordcamp.org/files/2019/01/Two-Towers-of-Molo.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
  }
  
  
  .entry-title {
  
    color: transparent;
  
  }

}