/* =Images
===================================================== */

img {

  display: block;
  margin: 0;
  margin-bottom: $unit-default;
  max-width: 100%;
  height: auto;

}

figure  {

  display: block;
  margin: 0;
  margin-bottom: $unit-default;
  max-width: 100%;
  height: auto;

}

figcaption {

  margin-top: 0;
  margin-bottom: 0;
  color: $color-text-strong;
  font-family: $font-brand-tertiary;

}

.wp-block-image { 
  margin-bottom: 20px;


  img {
    
    position: relative;
    background: linear-gradient(to right, red, orange);
    padding: 10px;

  }

}