/* =Images
===================================================== */

img {

  display: block;
  margin: 0;
  margin-bottom: $unit-default;
  max-width: 100%;
  height: auto;

}

figure  {

  display: block;
  margin: 0;
  margin-bottom: $unit-default;
  max-width: 100%;
  height: auto;

}

figcaption {

  margin-top: $unit-xs;
  margin-bottom: 0;
  color: $color-text-weak;

}

.wp-block-image { 
  transform: translateZ(0); 
  margin-bottom: 100px;


  .img {
    
    @include border-gradient(skyblue, hotpink);

    animation: rotateThis 1s linear infinite;
  }

}

@keyframes rotateThis {
  from {
    transform: rotate(0deg) scale(1);
  }
  
  to {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes psycho {
  0% {
    transform: rotate(0deg) scale(1) translate(0, 0);
  }
  
  33% {
    transform: rotate(360deg) scale(1) translate(5px, 5px);
  }
  
  66% {
    transform: rotate(720deg) scale(1) translate(-5px, -5px);
  }
  
  100% {
    transform: rotate(1080deg) scale(1) translate(0, 0);
  }
}
