/* =Experimental
* Custom animation
===================================================== */

.background-bg {
    width: 100vw;
    height: 100vh;
    background-image: $site-hero-path-large;
    background-position: center top;
    background-size: cover;
    position: relative;
    z-index: 2;
}
.eclipse {
	width: 100vw;
	height: 100vh;
	position: absolute;
	left:60%;
	top:20%;
	animation-name: time;
	animation-duration: 40s;
	animation-iteration-count: infinite;
	z-index: 0;
	animation-timing-function: linear;
}
.sun {
    width:70px;
    height:70px;
    border-radius: 50%;
    background: rgb(246,216,79);
    background: linear-gradient(180deg, rgba(246,216,79,1) 0%, rgba(250,232,109,1) 35%, rgba(254,252,147,1) 100%);
    position: absolute;
    top: -35px;
    left: -35px;
}
.sun.a {
	bottom: -35px;
	right: -35px;
	left: auto;
	top:auto;
}
.moon {
    position: absolute;
    top: -35px;
    right: -35px;
    width:70px;
    height:70px;
    border-radius: 50%;
    background: rgb(230,230,230);
    background: linear-gradient(90deg, rgba(230,230,230,1) 0%, rgba(225,225,225,1) 35%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 57%, rgba(216,215,215,1) 100%);
}
.moon.a {
	bottom: -35px;
	left: -35px;
	top:auto;
	right: auto;
}
.words {
    width: 743px;
    height: 844px;
    background: url('https://2019.iloilo.wordcamp.org/files/2019/01/wciloilo2019-rope-mobile.png')no-repeat;
    background-size: contain;
    position: absolute;
    animation: words 30s linear infinite;
    z-index: 3;
    top: -844px;
    left: 50%;
	margin-left: -372px;
	
	@include breakpoint(small) {

		background: url('https://2019.iloilo.wordcamp.org/files/2019/01/wciloilo2019-rope.png')no-repeat;

  	}
}
.star {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	top: 50px;
	left: 100px;
	animation-name: fader;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}
.star::before {
	content: '';
	width:3px;
	height:3px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	left:20px;
	top:20px;
	animation-name: blinker;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}
.star::after {
	content: '';
	width:2px;
	height:2px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	left:-200px;
	top:50px;
	animation-name: blinker;
	animation-duration: 20s;
	animation-iteration-count: infinite;	
}
.star.a {
	top:30px;
	left:90%;
}
.star.b {
	top:120px;
	left:70%;
}
.star.c {
	top:100px;
	left:65%;
}
.star.d {
	top:200px;
	left:15%;
}

@keyframes time {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
@keyframes daylight {
	0% {  background-color: #073465; }
	15% {  background-color: #08305d; }
	40% { background-color: #111628; }
	70% { background-color: #111628; }
	80% {  background-color: #a1ecff; }
	100% {  background-color: #7ed7ff;}
}
@keyframes words {
    0%, 100% { transform: translateY(840px); }
    50% { transform: translateY(0px); }
}
@keyframes rotate {
	0% { transform: rotate(0); }
	100% { transform: rotate(360deg); }
}
@keyframes fader {
	0% { opacity: 0; }
	15% { opacity: 0; }
	40% { opacity: 1; }
	60% { opacity: 0.4; }
	70% { opacity: 1; }
	80% {  opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blinker {
	0% { opacity: 0; }
	18% { opacity: 0; }
	25% { opacity: 1; }
	40% { opacity: 0; }
	60% { opacity: 1; }
	70% {  opacity: 0; }
	100% { opacity: 0; }	
}
@keyframes blinker-1 {
    0% { opacity: 0; }
    30% { opacity: 0; }
    40% { opacity: 1; }
    60% { opacity: 1; }
    80% {  opacity: 0; }
    100% { opacity: 0; }	
}


// Hide elements
.custom-header {
    height: 100vh;
}